@charset "utf-8";
/* CSS Document */

*:focus {
  box-shadow: 5px 5px 5px rgba(241, 238, 33, 0.8);
}

body,td,th,p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #5e1a96;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #333;
}

a {
  color: #eceeee;
  text-decoration: none;
}

a:hover, a:focus {
  color: rgba(119, 134, 134, 0.8);
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  margin: 0 auto;
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px 1;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 10px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 1.6em;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: rgba(14, 153, 158, 0.8);
  text-decoration: none;
  padding: 5px 10px;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: rgba(35, 149, 153, 0.8);
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background-color: rgba(35, 149, 153, 0.8);
  
}

.filter-options h2 {
  width: 100%;
  color: white;
  margin: 0 20px;
  padding-top: 6px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  
}

.filter-options select {
  background-color: white;
  border: 1px solid white;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 20%;
}
.filter-options label {
  position: absolute;
  left: -300px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;

}

#restaurants-list li {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 5px;
  text-align: center;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

#restaurants-list li h3 {
  color: #5e1a96;
  letter-spacing: 0;
  line-height: 1.2em;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding: 0 5px;
}

#restaurants-list li p {
  margin: 0;
  font-size: 0.9em;
}

#restaurants-list li a {
  background-color: rgba(59, 178, 182, 0.8);
  border-bottom: 3px solid #eee;
  color: #2b2d2e;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* ====================== Restaurant Details ====================== */

.inside .restaurant-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.restaurant-header #breadcrumb {
  width: 100%;
  text-align: center;
}

.restaurant-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-main #map-container {
  width: 50%;
  padding: 130px 10px 5px 40px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: rgba(14, 153, 158, 0.8);
  font-family: Arial,sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 20px;
  text-transform: uppercase;
  line-height: 1.2em;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container {
  width: 40%;
  padding: 120px 0 20px 20px;
}

#reviews-container {
  width: 80%;
  margin: 25px auto;
  padding: 15px 0;
  border-top: 1px solid rgba(14, 153, 158, 0.8);
  border-bottom: 1px solid rgba(14, 153, 158, 0.8);
}

#reviews-container h4 {
  color: rgba(14, 153, 158, 0.8);
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0 20px;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  padding: 0 20px 20px;
  width: 100%;
}

/* skip link - added for accessibiliy */
.skip {
  position: absolute;
  top: -100px;
  left: 0;
}
.skip:focus {
  top: 0;
}

/* Media queries */

@media screen and (max-width: 900px) {
  /* index page */
  #map {
    width: 100%;
  }
  #restaurants-list {
    width: 90%;
  }

  .filter-options select {
    padding: 5px;
    width: 30%;
  }

  #restaurants-list li h3 {
    font-size: 1.3em;
  }

  /* restaurant page */
  #restaurant-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #d9d9d9;
  }

  #restaurant-name,#restaurant-img,#restaurant-address,#restaurant-hours {
    width: 48%;
  }

  #restaurant-name {
    order: 1;
    text-align: center;
  }

  #restaurant-img {
    order: 3;
  }

  #restaurant-cuisine {
    order: 4;
  }

  #restaurant-address {
    order: 0;
    text-align: center;
  }

  #restaurant-hours {
    margin-top: 20px;
    order: 2;
  }

  #restaurant-hours tr {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }

  .restaurant-main #map-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 120px 0 0;
    order: 0;
  }

  #reviews-container {
    order: 2;
  }

  #reviews-list li {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 730px) {
  /* index page */
  #map,
  #restaurants-list {
    width: 100%;
  }

  .filter-options select {
    width: 30%;
    margin: 5px;
    padding: 0;
  }

  #restaurants-list li {
    width: 100%;
  }

  /* restaurant page */
  
  .restaurant-main #map-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    order: 0;
  }

  #restaurant-container {
    order: 1;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #333333;
  }

  #restaurant-name,#restaurant-img,#restaurant-cuisine,#restaurant-address,#restaurant-hours {
    width: 90%;
  }
}

